<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Final_project.Properties.Settings.Dissertation_ManagementConnectionString"
            connectionString="Data Source=DESKTOP-1TC3J13;Initial Catalog=Dissertation_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Final_project.Properties.Settings.Thesis_mamagementConnectionString"
            connectionString="Data Source=DESKTOP-1TC3J13;Initial Catalog=Thesis_mamagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>